* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

header {
  padding: 25px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
header .header1 {
  display: flex;
  justify-content: center;
  gap: 200px;
  align-items: center;
}
header .header1 p {
  color: gray;
  font-size: 18px;
}
header .header1 .eye {
  display: flex;
  align-items: center;
  color: gray;
  gap: 10px;
}
header .header1 .nomer {
  display: flex;
  gap: 15px;
  align-items: center;
}
header .header1 .nomer p {
  color: black;
  font-weight: 500;
  font-size: 22px;
}
header .header1 .nomer button {
  background-color: #30A862;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
}
header .header2 {
  display: flex;
  align-items: center;
  max-width: 1300px;
  margin: auto;
  gap: 30px;
}
header .header2 nav {
  display: flex;
  gap: 60px;
}
header .header2 nav p {
  font-size: 18px;
  font-weight: 300;
}

.main1, .main2, .main3 {
  max-width: 1300px;
  margin: auto;
}
.main1 .skidka, .main2 .skidka, .main3 .skidka {
  display: flex;
  margin-top: 50px;
  gap: 25px;
}
.main1 .skidka .dl3, .main2 .skidka .dl3, .main3 .skidka .dl3 {
  display: flex;
  width: 630px;
  height: 400px;
  background-color: #30A862;
  align-items: center;
  justify-content: center;
}
.main1 .skidka .dl3 .skidka1, .main2 .skidka .dl3 .skidka1, .main3 .skidka .dl3 .skidka1 {
  width: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  justify-content: center;
}
.main1 .skidka .dl3 .skidka1 button, .main2 .skidka .dl3 .skidka1 button, .main3 .skidka .dl3 .skidka1 button {
  color: #30A862;
  width: 170px;
  border: none;
  border-radius: 30px;
  padding: 15px 35px;
}
.main1 .skidka .dl2, .main2 .skidka .dl2, .main3 .skidka .dl2 {
  display: flex;
  width: 630px;
  height: 400px;
  background-color: #27C4D6;
  align-items: center;
  justify-content: center;
}
.main1 .skidka .dl2 .skidka1, .main2 .skidka .dl2 .skidka1, .main3 .skidka .dl2 .skidka1 {
  width: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  justify-content: center;
}
.main1 .skidka .dl2 .skidka1 button, .main2 .skidka .dl2 .skidka1 button, .main3 .skidka .dl2 .skidka1 button {
  color: #30A862;
  width: 170px;
  border: none;
  border-radius: 30px;
  padding: 15px 35px;
}

.main2, .main3 {
  margin-top: 175px;
}
.main2 .boxex, .main3 .boxex {
  display: flex;
  margin-top: 50px;
  gap: 45px;
}
.main2 .boxex .box1, .main3 .boxex .box1 {
  width: 362px;
  height: 258px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px gray;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 30px 30px;
}
.main2 .boxex .box1 p, .main3 .boxex .box1 p {
  font-size: 18px;
  font-weight: 500;
}

.main3 .conts {
  display: flex;
  margin-top: 50px;
  gap: 32px;
}
.main3 .conts .cont1 {
  width: 270px;
  height: 300px;
  border: 1px solid #C4CDD4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px 17px;
}
.main3 .conts .cont1 h1 {
  color: #30A862;
  font-size: 22px;
}
.main3 .conts .cont1 .xat {
  width: 50px;
  border-bottom: 3px solid #30A862;
}
.main3 .conts .cont1 .ppp {
  font-size: 18px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.main4 {
  height: 584px;
  background-color: #272727;
  margin-top: 130px;
  padding: 20px 80px;
}
.main4 .main4d {
  display: flex;
  justify-content: center;
}
.main4 .main4d .dl4 {
  display: flex;
  gap: 50px;
  margin-top: 20px;
}
.main4 .main4d .dl4 .ph1 {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.main4 .main4d .dl4 .ph1 .p1 {
  display: flex;
  color: white;
  align-items: center;
  gap: 7px;
}
.main4 .main4d .dl4 .ph1 .p1 .kul {
  width: 10px;
  height: 10px;
  background-color: #30A862;
  border-radius: 50%;
}

@media (max-width: 510px) {
  header .header1 p {
    display: none;
  }
  header .header1 .eye {
    display: none;
  }
  header .header1 .eye i {
    display: none;
  }
  header .header1 .nomer button {
    display: none;
  }
  header .header2 nav p {
    display: none;
  }
  .skidka {
    flex-direction: column;
  }
  .skidka .dl3 {
    width: 90%;
  }
  .skidka .dl2 {
    width: 90%;
  }
  .boxex {
    flex-direction: column;
    align-items: center;
  }
  .conts {
    flex-direction: column;
    align-items: center;
  }
  .main4 {
    height: auto;
  }
  .main4 .dl4 {
    flex-direction: column;
  }
  .main4 .doctor {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */