$maincolor : #30A862;
$fw : 500 ;
$fz : 18px ;
$pcolor : gray ;
@mixin btns {
  background-color: $maincolor;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
}
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

header {
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    .header1 {
        display: flex;
        justify-content: center;
        gap: 200px;
        align-items: center;
        p {
            color: gray;
            font-size: $fz;
        }
        .eye {
            display: flex ;
            align-items: center;
            color: $pcolor;
            gap: 10px;
        }
        .nomer {
            display: flex;
            gap: 15px;
            align-items: center;
            p {
                color: black;
                font-weight: $fw;
                font-size: 22px;
            }
            button {
                @include btns;
            }
        }
    }
    .header2 {
        display: flex;
        align-items: center;
        max-width: 1300px;
        margin: auto;
        gap: 30px;
        nav {
            display: flex;
            gap: 60px;
            p {
                font-size: $fz;
                font-weight: 300;
            }
        }
    }
}
.main1 {
    max-width: 1300px;
    margin: auto;
    .skidka {
        display: flex;
        margin-top: 50px;
        gap: 25px;
        .dl3 {
        display: flex;
                width: 630px;
                height: 400px;
                background-color: $maincolor;
                align-items: center;
                justify-content: center;

            .skidka1 {
                width: 300px;
                color: white;
                display: flex;
                flex-direction: column;
                row-gap: 25px;
                justify-content: center;
                button {
                    color: $maincolor;
                    width: 170px;
                    border: none;
                    border-radius: 30px;
                    padding: 15px 35px;
                }
            }
        }
        .dl2 {
        
        display: flex;
                width: 630px;
                height: 400px;
                background-color: #27C4D6;
                align-items: center;
                justify-content: center;

            .skidka1 {
                width: 300px;
                color: white;
                display: flex;
                flex-direction: column;
                row-gap: 25px;
                justify-content: center;
                button {
                    color: $maincolor;
                    width: 170px;
                    border: none;
                    border-radius: 30px;
                    padding: 15px 35px;
                }
            }
        }

        }
}
.main2 {
    @extend .main1 ;
    margin-top: 175px;
    .boxex {
        display: flex;
        margin-top: 50px;
        gap: 45px;
        .box1 {
            width: 362px;
            height:  258px;
            border-radius: 20px;
            box-shadow: 2px 2px 5px gray;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            padding: 30px 30px;
            p {
                font-size: $fz;
                font-weight: $fw;
            }
        }
    }
}







 



@media (max-width: 510px ) {
    header {

        .header1 {
            p {
                display: none;
            }
            .eye {
                display: none;
                i {
                    display: none;
                }
            }
            .nomer {
                button {
                    display: none;
                }
            }
        }
        .header2 {
            nav {
                p {
                    display: none;
                }
            }
        }

    }
    .skidka {
        flex-direction: column;
        .dl3 {
         width: 90%;
        }       
        .dl2 {
            width: 90%;
        }

    }
    .boxex {
        flex-direction: column;
        align-items: center;
    }
    }
